*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
div, section {
    overflow: hidden;
}


h2 {
    font-size: 30px;
    color: #090910;
    font-weight: bold;
}


/* Header */
.header{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    width:100%;
    height:80px;
    background-color: #f1f1f1;
    padding: 0px 80px;
    border-bottom: 1px solid rgba(230, 243, 155, 0.8);
}
.logo{
    width: 30%;
    height: auto;
    display: flex;
    align-items: center;
}
.logo img{
    width:70px;
    height: auto;
    cursor: pointer;
}

.lista{
    display:flex;
    gap: 6em;
    list-style: none;
}

.lista a{
    font-size: 16px;
    font-weight: 600;
    color: #000;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
}
.lista li{
    height: 30px;
    width: auto;
}

.lista a:hover{
    transition: all .5s;
    color: #EE5007;
    border-bottom: 2px solid #EE5007;
}

/* Fin Header */


/* Seccion 1 */

.seccion-1, .seccion-2, .seccion-3, .seccion-4{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    padding: 2em 5em 2em;
}
.seccion-1 {
    background-color: #090910;
}
.seccion-2 {
    background-color: #541212;
}
.seccion-3, .seccion-4 {
    background-color: #f1f1f1;
}

.div-texto {
    width: 50%;
    height: auto;
    padding: 4em 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div-img {
    width: 50%;
    height: auto;
    text-align: center;
    padding: 4em 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-img img {
    width: 20em;
}

.titulo-hero {
    font-size: 36px;
    font-weight: bold;
    color: #EE5007;
}

.p-hero {
    color: #f1f1f1;
    font-weight: 500;
    font-size: 16px;
    margin: 2em auto;
    max-width: 40em;
}

.div-texto button {
    padding: 8px 30px;
    border-radius: 50px;
    font-weight: 600;
    text-transform: uppercase;
    border: 2px solid;
    cursor: pointer;
}

.btn-1 {
    background-color: #F0A500;
    color: #f1f1f1;
    margin-right: 1em;
    border-color: #F0A500 !important;
}

.btn-2 {
    background-color: rgba(255, 255, 255, 0);
    color: #F0A500;
    border-color: #F0A500 !important;
}

.btn-2:hover, .btn-1:hover{
    background-color: #EE5007;
    color: #f1f1f1;
    border-color: #EE5007 !important;
    transition: all .6s;
}
.div-principal-sec2{
    display: flex;
    justify-content: center;
    height: 40vh;
    align-items: center;
    align-items: center;
}
.div-principal-sec2 p{
    max-width: 50%;
    text-align: center;
    color: #f1f1f1;
    font-weight: 400;
    font-size: 18px;
}

.img-logo-mob{
    display: none;
}

/* Fin seccion 1 */

/* Seccion 2 */

.div1-sec3, .div1-sec4 {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    gap: 1.2em;
}
.div2-sec3, .div2-sec4 {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    padding: 4em 4em;
    gap: 4em;
    margin-top: 1em;
}
.div2-sec4{
    gap: 2em;
}
.tarjetas, .tarjetas-sec4{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 3em;
    gap: 1.5em;
    border: solid 1px #EE5007;
    border-radius: 6px;
}
.tarjetas-sec4{
    width: 25%;
    padding: 3em 1.5em;
}
.tarjetas:hover{
    transition: all .5s;
    background-color: #EE5007;
}
.tarjetas:hover p, .tarjetas:hover h3{
    color: #fff;
    transition: all .5s;
}
.tarjetas img {
    width: 5em;
    height: 5em;
}
.tarjetas p, .tarjetas h3, .tarjetas-sec4 h3, .tarjetas-sec4 p{
    text-align: center;
    color: #090910;
}
.tarjetas-sec4 p {
    min-height: 6.4em;
}

/* Seccion 4 */

.circulo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #090910;
    border-radius: 100px;
}
.circulo h2{
    color:#F0A500;

}

h1 {
    font-size: 36px;
    font-weight: bold;

}

@media(max-width:420px) {
    .btn-1, .btn-2{
        width: 100%;
    }
}

@media(max-width:1024px) {
    .seccion-1{
        height: auto;
    }
    .div-texto {
        padding: 4em 2em;
        width: 100%;
        align-items: center;
    }
    .titulo-hero {
        font-size: 28px;
        max-width: 30em;
        text-align: center;
    }
    .p-hero {
        font-size: 15px;
        margin: 1em 0;
        padding: 0;
        max-width: 30em;
        text-align: center;
    }
    .div-img{
        display: none;
    }
    .img-logo-mob{
        display: block;
        width: 14em;
        margin-bottom: 3em;
    }
    .btn-1 {
        margin: 1.2em 1em 1em 0;
    }



    .div-principal-sec2{
        height: auto;
        padding: 4em 2em;
    }

    .div-principal-sec2 p{
        max-width: none;
        font-size: 16px;
    }
    button{
        font-size: 14px;
    }

    .div2-sec4 {
        flex-wrap: wrap;
        justify-content: center;

    }

    .tarjetas-sec4 {
        width: 46%;
        
    }

}
@media (max-width:768px){
    .titulo-hero {
        font-size: 24px;
    }
    .p-hero {
        font-size: 12px;
    }

    .div-principal-sec2 p{
        font-size: 15px;
    }
    .btn-1, .btn-2{
        font-size: 12px;
        padding: 6px 20px !important;
    }
    .img-logo-mob{
        width: 8em;
    }
}
